<!DOCTYPE html>
    <head>
        <title>DaoClould</title>
        <!-- General META -->
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- SEO META-->
        <meta name="fragment" content="!">

        <!-- Semantic META -->
        <meta name="keywords" content="Holistic health network, holistic health, health, wellness, optimal wellness, health optimization, optimal health, daocloud, reiki, yoga, acupuncture, acupuncturist, massage, massage therapist, therapist, chiropractor, chiropractic, naturopath, naturopathy, ND, Functional MD, personal trainer, personal training, fitness professional, fitness, natural medicine, meditation, mindfulness, self-care, self care, healing, food as medicine, behavioral medicine, e-health, e health, ehealth, health network, yoga instructor, yogi, physical therapist, physical therapy, craniosacral therapy, midwife, natural birth, doula, Pilates, electronic health">
        <meta name="description" content="Connecting community with self-care.">

        <!-- Facebook META -->
        <meta property="fb:app_id" content="666198436781043">
        <meta property="og:site_name" content="DaoCloud: Social Self-Care Network">
        <meta property="og:title" content="DaoCloud: Social Self-Care Network">
        <meta property="og:description" content="Connecting community with self-care.">
        <meta property="og:url" content="http:// beta.daocloud.com/signin">
        <meta property="og:image" content="/img/dao_logo.png">
        <meta property="og:type" content="website">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS Imports -->
        <link rel="stylesheet" href="css/style.css">
        <!--<link rel="stylesheet" href="css/bootstap/bootstrap.css">-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function($) {
            console.log("JQuery works!!!");
        });     
        </script>
    </head>
    <body>
        <!-- Standard button -->


        <header data-ng-include="'/modules/core/views/header.client.view.html' | cdnize" class="navbar navbar-fixed-top navbar-default ng-scope"><div class="container ng-scope" data-ng-controller="HeaderController">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#daocload-nav" data-ng-click="toggleCollapsibleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-ng-click="goHome()" href="/" class="navbar-brand">
                    <img width="155" data-ng-src="images/dao_logo.png" alt="dao logo" src="images/dao_logo.png">
                </a>
            </div>
            <nav id="daocload-nav" class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" style="height: 0px;">

                <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
                       <li><span><a href="">Wellness Professionals</a></span></li>
                       <li><span><a href="">Regional &amp; Pricing</a></span></li>
                       <li><span><a href="">About</a></span></li>
                    
 <!--                   <li ui-route="/signup" ng-class="{active: $uiRoute}" class="ng-scope"
                        <a href="/signup">Signup</a>
                    </li>-->
                    <!--<li class="divider-vertical"></li>-->
                    <li class="divider"></li>
                    <li ui-route="/signin" ng-class="{active: $uiRoute}" class="ng-scope active">
                        <a class="btn-wh" href="/signin">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
        </header> 
       <div class="content-wrapper">
        <section id="mem-row1-section" class="section">
            <div class="container">
                        <div class="row">
                           <div id="signup-row" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <h1>Come Connect with the Social <br class="visible-xs"> Wellness Network</h2>
                                <h3 class="sec-subtitle"> Find & share resources that can improve your health </h3>

                                <buttons class="btn btn-gh">
                                            Sign Up for Free
                                </buttons> 
                                <h4> Explore Features for Wellness Professionals</h4>
                               
                            </div>
                       </div>  
            </div>
        </section>
                <section id="ftrslist-section" class="section border-sec">
            <div class="container">
                        <div id="ftrslist-row" class="row">
                          
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ftr-padding"> 
                                    <div class="ftrslist-content">
                                        <img class="ftr-list-img" src="images/contacts.svg">
                                        <div class="ftr-list-txt">
                                            Discover and Share<br> Healthy Resources
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ftr-padding">
                                    <div class="ftrslist-content"> 
                                        <img class="ftr-list-img" src="images/friends.svg">
                                        <div class="ftr-list-txt">
                                            Learn<br> with the Community
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                                    <div class="ftrslist-content">
                                        <img class="ftr-list-img" src="images/shop.svg">
                                        <div class="ftr-list-txt">
                                            Find Trusted
                                            <br> Wellness Professionals
                                        </div>
                                    </div>
                                </div>       
                       </div>  
            </div>
        </section>
        <section id="row3-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="userprof-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1> Find Trusted Wellness Profesionals</h1>
                            <h3 class="sec-subtitle">Search by Condition, Sort by Recommendations, Locate a Professional Nearby</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/hp-map.jpg" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row4-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="rscrs-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1> Discover and Share Healthy Resources</h1>
                            <h3 class="sec-subtitle">Build Your Profile & Share Things that Inspire You</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/hp-userprofile.png" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row5-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1> Learn with the Community</h1>
                            <h3 class="sec-subtitle">Find Friends, View Friends Profiles & Create New Connections</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/hp-memnetwork.jpg" alt="">
                                </div>
                            </div>
                </div>
            </div>
        </section>

            <section id="row6-section" class="section">
            <div class="container">
                <div class="row">
                    <div id="sbscrb-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                                <div class="div row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                        <div class="elem-wrapper">
                                            <h3>
                                             Daocloud is adding features everday!<br>
                                             Stay up-to-date by subscribing to our newsletter:
                                            </h3>
                                        </div>
                                        <div class="elem-wrapper">
                                            <input type="text" placeholder="youremail@gmail.com">
                                        </div>
                                        <div class="scrb-btn-ctr elem-wrapper ">
                                            <span class="btn btn-row btn-wh">Subscribe now</span>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <footer id="footer" class="section">
            <div class="container">
                <div class="row">
                    <div id="footer-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                        <div class="footer-links">
                           <li><a href="">Terms &amp; Conditions</a></li>

                           <li><a href="">Privacy Policy</a></li>
                           <li><a href="">Investors</a></li>
                           <li><a href="">Contact Daocloud</a></li>
                        </div>            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </body>
</html>
