<!DOCTYPE html>
    <head>
        <title>DaoClould</title>
        <!-- General META -->
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- SEO META-->
        <meta name="fragment" content="!">

        <!-- Semantic META -->
        <meta name="keywords" content="Holistic health network, holistic health, health, wellness, optimal wellness, health optimization, optimal health, daocloud, reiki, yoga, acupuncture, acupuncturist, massage, massage therapist, therapist, chiropractor, chiropractic, naturopath, naturopathy, ND, Functional MD, personal trainer, personal training, fitness professional, fitness, natural medicine, meditation, mindfulness, self-care, self care, healing, food as medicine, behavioral medicine, e-health, e health, ehealth, health network, yoga instructor, yogi, physical therapist, physical therapy, craniosacral therapy, midwife, natural birth, doula, Pilates, electronic health">
        <meta name="description" content="Connecting community with self-care.">

        <!-- Facebook META -->
        <meta property="fb:app_id" content="666198436781043">
        <meta property="og:site_name" content="DaoCloud: Social Self-Care Network">
        <meta property="og:title" content="DaoCloud: Social Self-Care Network">
        <meta property="og:description" content="Connecting community with self-care.">
        <meta property="og:url" content="http:// beta.daocloud.com/signin">
        <meta property="og:image" content="/img/dao_logo.png">
        <meta property="og:type" content="website">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS Imports -->
        <link rel="stylesheet" href="css/style.css">
        <!--<link rel="stylesheet" href="css/bootstap/bootstrap.css">-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function($) {
            console.log("JQuery works!!!");
        });     
        </script>
    </head>
    <body>
        <!-- Standard button -->


        <header data-ng-include="'/modules/core/views/header.client.view.html' | cdnize" class="navbar navbar-fixed-top navbar-default ng-scope"><div class="container ng-scope" data-ng-controller="HeaderController">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#daocload-nav" data-ng-click="toggleCollapsibleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-ng-click="goHome()" href="/" class="navbar-brand">
                    <img width="155" data-ng-src="images/dao_logo.png" alt="dao logo" src="images/dao_logo.png">
                </a>
            </div>
            <nav id="daocload-nav" class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation" style="height: 0px;">

                <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
                       <li><span><a href="">Wellness Professionals</a></span></li>
                       <li><span><a href="">Regional &amp; Pricing</a></span></li>
                       <li><span><a href="">About</a></span></li>
                    
 <!--                   <li ui-route="/signup" ng-class="{active: $uiRoute}" class="ng-scope"
                        <a href="/signup">Signup</a>
                    </li>-->
                    <!--<li class="divider-vertical"></li>-->
                    <li class="divider"></li>
                    <li ui-route="/signin" ng-class="{active: $uiRoute}" class="ng-scope active">
                        <a class="btn-wh" href="/signin">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
        </header> 
       <div class="content-wrapper">
        <section id="pro-row1-section" class="section">
            <div class="container">
                <div class="row">
                    <div id="signup-row"class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                                <div class="pro-signup-wrapper">
                                    <h1>A New Hirizon for Your Business</h2>
                                    <h3 class="sec-subtitle"> Network with the Wellness Community and Discover New Clients </h3>
                                    <buttons class="btn btn-gh">
                                                View Price & Sign Up
                                    </buttons> 
                                </div> 
                    </div>
                </div>
            </div>
        </section>
                <section id="ftrslist-section" class="section border-sec">
            <div class="container">
                <div class="row ftrrow1">
                    <div id="ftrslist-row"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ftr-padding"> 
                                    <div class="ftrslist-content">
                                        <img class="ftr-list-img " src="images/propage-icon-bullhorn.svg">
                                        <div class="ftr-list-txt">
                                            Amplify Word-of-Mouth
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ftr-padding">
                                    <div class="ftrslist-content"> 
                                        <img class="ftr-list-img" src="images/propage-icon-map.svg">
                                        <div class="ftr-list-txt">
                                            Display Your<br> Location
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                                    <div class="ftrslist-content">
                                        <img class="ftr-list-img" src="images/propage-icon-tree.svg">
                                        <div class="ftr-list-txt">
                                            Grow Your 
                                            <br> Practice
                                        </div>
                                    </div>
                                </div> 
                            </div>
                       </div>  
                       <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ftr-list-txt icon-person-txt">
                            Connect with
                            <br> Your Clients
                            </div>
                           
                            <div class="icon-person-wrapper">
                                <img class="icon-person" src="images/propage-icon-person1.svg">
                                <img class="icon-person " src="images/propage-icon-person2.svg">
                                <img class="icon-person" src="images/propage-icon-person3.svg">
                                <img class="icon-person" src="images/propage-icon-person4.svg">
                                <img class="icon-person" src="images/propage-icon-person5.svg">
                                <img class="icon-person" src="images/propage-icon-person6.svg">
                                <img class="icon-person" src="images/propage-icon-person7.svg">
                                <img class="icon-person" src="images/propage-icon-person8.svg">
                        </div>
                           </div>
                        </div>
            </div>
        </section>
        <section id="row3-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="userprof-row" class="col-lg-12 col-md-12 col-sm-12-col-xs-12">
                       
                            <h1> Build Your Practice Profile</h1>
                            <h3 class="sec-subtitle">Share your story, specialties and qualifications with the community</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/propage-screenshot1.jpg" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row4-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="rscrs-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1> Pin Your Practice on the Map</h1>
                            <h3 class="sec-subtitle">Get Discovered by Your Local Community and Earn Clients</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/propage-screenshot2.jpg" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row5-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1>Network with Other Professionals</h1>
                            <h3 class="sec-subtitle">Share Knowledge with the Greatest Minds in Wellness</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/propage-screenshot3.jpg" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row6-section" class="section border-sec">
        <div class="container">
                <div class="row " style="margin-left: 50px;">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1>Amplify Word of Mouth</h1>
                            <h3 class="sec-subtitle">Connect Directly with Your Vlient's Network</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/propage-screenshot4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row7-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1>Network with Other Professionals</h1>
                            <h3 class="sec-subtitle">Share Knowledge with the Greatest Minds in Wellness</h3>
                                <div class="scrnsht">
                                    <img class="img-responsive" src="images/propage-screenshot3.jpg" alt="">
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="row8-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                            <h1>Ready to Join the Best Wellness Community?</h1>
                            <h3 class="sec-subtitle">Just enter your name and email to get started</h3>
                            </div>
                </div>
                <div class="div row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                        <div class="scrb-frm-ctr scrb-btn-ctr">
                            <span class="btn btn-row btn-wh elem-wrapper">Check Availabilty & Pricing in Your Region</span>
                        </div> 
                  </div>
                </div> 
            </div>
            </div>
        </section>
        <section id="row9-section" class="section border-sec">
        <div class="container">
                <div class="row">
                    <div id="ntwrk-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                                <h1>Still Have Questions About Daocloud?</h1>
                                <h3 class="sec-subtitle">Read through our Frequently Asked Questions</h3>
                                <div class="qas-wrapper">
                                    <div class="qa-container">
                                        <h1 class ="q-header">Question 1</h1>
                                        <h3 class="q-answer">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc.</h3>
                                    </div>
                                    <div class="qa-container">
                                        <h1 class ="q-header">Question 2</h1>
                                        <h3 class="q-answer">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc</h3>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="div row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                        <div class="scrb-frm-ctr scrb-btn-ctr">
                            <span class="btn btn-row btn-wh elem-wrapper">Check Availabilty & Pricing in Your Region to Sign Up</span>
                        </div> 
                  </div>
                </div> 
            </div>
        </section>
        <footer id="footer" class="section">
            <div class="container">
                <div class="row">
                    <div id="footer-row" class="col-lg-12 col-md-12- col-sm-12-col-xs-12">
                        <div class="footer-links">
                           <li><a href="">Terms &amp; Conditions</a></li>

                           <li><a href="">Privacy Policy</a></li>
                           <li><a href="">Investors</a></li>
                           <li><a href="">Contact Daocloud</a></li>
                        </div>            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </body>
</html>
